*{margin:0;padding:0;}
div{
    width: 1200px;
    margin:10px auto 0;
    border:1px solid red;
    height:300px;
    overflow: hidden;
}

h3{
    width: 256px;
    margin: 40px auto;
}

ul{
    width: 10000px;
}
ul li{
    list-style: none;
    float: left;
    width: 200px;
    height:300px;
    cursor: pointer;
}