*{
    margin: 0;
    padding: 0;
}

h2, h3, h4{
    width: 550px;
    margin: 30px auto 10px ;
}

.nav{
    list-style: none;
    width: 300px;
    margin: 100px auto;
}


.nav>li{
    border: 1px solid #000;
    line-height: 35px;
    border-bottom: none;
    text-indent: 2em;
    position: relative;
}

.nav>li span{
    background: url("arrow_right.png") no-repeat center center;
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.nav>li:last-child{
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav>li:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.nav>li.current>span{
    transform: rotate(90deg);
}

.sub>li{
    list-style: none;
    background: mediumpurple;
    border-bottom: 1px solid #ccc;
}
.sub {
    display: none;
}

.sub>li:hover{
    background: red;
}